<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaX</title>
    <% for (const css of htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= css %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="<%= css %>"></noscript>
    <% } %>
    <link rel="preload" href="/styles/fonts/KaTeX_Main-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/styles/fonts/KaTeX_Math-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/styles/fonts/KaTeX_Main-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/styles/fonts/KaTeX_Main-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/styles/fonts/KaTeX_AMS-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/styles/fonts/KaTeX_Math-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/styles/fonts/KaTeX_Size1-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/styles/fonts/KaTeX_Size2-Regular.woff2" as="font" type="font/woff2" crossorigin>
  </head>
  <body class="bg-cax-canvas text-cax-text">
    <div id="app"></div>
    <% for (const js of htmlWebpackPlugin.files.js) { %>
    <script defer src="<%= js %>"></script>
    <% } %>
  </body>
</html>
